.carousel-item  {
    height: 100%;
}

.img1 {
    background-image: url('/img/img-slider-1.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
}

.img2 {
    background-image: url('/img/img-slider-2.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
}

.title {
    margin-top: 2em;
    margin-bottom: 2em;
}

p {
    font-size: 20px;
}

.hello {
    margin-top: 2em;
}

.text {
    margin-top: 2em;
}
 .img-text {
     margin-top: 2em;
 }

 .adventure {
     margin-bottom: 8em;
 }

#button {
    display: inline-block;
    background-color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

.network-wrapper {
    display: flex;
    justify-content: space-around;
}

.conclusion {
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer {
    height: 10em;
    background: black;
    width: 100%;
}

.text-footer {
    color: white;
    text-align: center;
}